node_modules/
.env
.DS_Store
npm-debug.log
.vscode/
.idea/
dist/
coverage/
logs/
*.local
*.log
*.tmp
temp/
.cache/
*.bak
*.swp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.iml
out/
build/
*.class
*.jar
*.war
*.ear
target/
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/